a:link{text-decoration:none;}
a:hover{text-decoration:underline;}
a:visited{text-decoration:none;}

.h1tune{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:16px;
background-color:#0390A1;
color:#FFFFFF;
padding:10px;
margin-top:20px;
margin-bottom:40px;
margin-left:50px;
margin-right:50px;
}

.h1index{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:18px;
background-color:#0390A1;
color:#FFFFC0;
padding:10px;
}

.tunelst{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:11px;
background-image:url(img/tune.gif);
background-repeat:no-repeat;
margin-left:20px;
margin-bottom:2px;
margin-top:2px;
padding-left:20px;
padding-bottom:5px;
}

.abcidx{
font-family:Verdana,Arial,Helvetica,sans-serif;	
background-image:url(img/tune.gif);
background-repeat:no-repeat;
font-size:10px;
color:#AAAAAA;
padding-left:20px;
padding-bottom:5px;
}

.field{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:12px;
color:#503080;
margin-left:50px;
}

.fullabc{
font-family:Verdana,Arial,Helvetica,sans-serif;	
background-image:url(img/fileabc.gif);
background-repeat:no-repeat;
background-position:10px 50%;
background-color:#FEFFC5;
font-size:11px;
color:#AAAAAA;
padding-left:30px;
padding-top:8px;
padding-bottom:8px;
}

.buttonbar{
text-align:center;	
}

.framepdf{
text-align:center;
}

.footer{
font-family:Verdana,Arial,Helvetica,sans-serif;		
/*font-family:"Times New Roman",Times,serif;*/
font-size:9px;
text-align:right;
border-top-style:solid;
border-top-width:1px;
padding-right:10px;
}	